body{
    background: url(https://i.ibb.co/nsF9VXf/a479c310a5548d5f033a06d16775ae98.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 3.5rem;
    color: rgb(156, 180, 247);
}
.c_wrap{
    text-align: center;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    margin-top: 100px;
}
.c_wrap input{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: large;
    font-family: fantasy;
    height: 40px;
    margin-top: 30px;  
}
.c_wrap span{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.c_wrap span select{
    background-color: rgb(156, 180, 247);
    color: black;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    border-radius: 0px;
    text-indent: 0.01px;
    text-overflow: '';
}
.c_wrap span ::before,
.c_wrap span ::after{
    position: absolute;
    content: "";
    pointer-events: none;
}
.c_wrap span ::after{
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.5em;
    top: 50%;
    margin-top: -.5em;
    color: #131B24;
}
.c_wrap span ::before{
    width: 2.5em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    background-color: blanchedalmond;
}
.coverter-a ::before,
.converter-b ::after{
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    width: 45%;
}
.converter-equals{
    box-sizing: border-box;
    float: left;
    width: 10%;
    color: blanchedalmond;
    text-align: center;
    line-height: 0;
    font-size: 2.5rem;
}
.converter-a{
    padding-right: 10px;
}
.converter-b{
    padding-left: 10px;
}